

// Check list 
ul.check-list {
	margin:0 0 20px 30px;
	padding:0;
	li {
		list-style: none;
		background: url(../img/icn-check.svg) no-repeat left 10px;
		padding-left: 25px;
	}
}


ul.triangle-list {
	margin:0 0 20px 30px;
	padding:0;

	li {
		position: relative;
		list-style: none;
		padding: 0 0 0 20px;

		&:before {
			content: "";
			border:6px solid transparent;
			border-left:10px solid $color-primary;
			position: absolute;
			top:8px;
			left: 0;
		}
	}
}

