
// lighten($color-black, 6.5%); #111
// lighten($color-black, 13.5%); #222
// lighten($color-black, 20%); #333

$color-primary: #eb1c24;
$color-secondary: #432b0f;
$color-success: #2dac0e;
$color-alert: #ff0000;
$color-warning: #f09f41;

$color-black: #000;
$color-white: #fff;
$color-grey: #777; 
$color-grey-1: #aaaaaa;   
$color-grey-2: #e9e9e9;
$color-dark: #222;
$color-light: #f8f8f8;
$color-lighten: #f1f1f1;

$color-dblue: darkblue;
$color-lblue: #7bc4fa;




$body-font-family: 'Roboto', sans-serif;
$body-font-size: 20px;

$heading-font-family: 'prometo', sans-serif;
$button-font-family: $body-font-family;



// FOUNDATION VARIABLES 
$grid-container: 1440px;
//$grid-container: 75vw;
$grid-container-padding: 60px;

$foundation-palette: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $color-success,
  warning: $color-warning,
  alert: $color-alert,
) !default;

$button-background: $color-primary;
$button-radius: 3px;
$button-sizes: (
    tiny: 0.6rem,
    small: 0.75rem,
    defaut: 14px, // default: 0.9rem,
    large: 1.25rem
) !default;
$button-padding: 1.5em;
$button-font-weight: 500 !default;

$input-shadow: none;


$breakpoints: (
  small: 0px,
  medium: 768px,
  large: 1024px,
  xlarge: 1600px,
  xxlarge: 1921px,
);

$breakpoint-classes: (small medium large xlarge xxlarge);